<section id="masthead">
<!-- <div class="logo"> -->
<!--   {{#image}} -->
<!--     <img src="{{.}}"> -->
<!--   {{/image}} -->
<!-- </div> -->
<div class="content">
<div class="name">
  {{#name}}
    <h1>{{.}}</h1>
  {{/name}}
    {{#label}}
    <h2>{{.}}</h2>
  {{/label}}
</div>
<div class="contacts">
    {{#location}}
            <p>{{#city}}<a>{{.}},{{/city}}{{#countryCode}}{{.}}{{/countryCode}}</a> &#128392;</p>
    {{/location}}
    {{#email}}
        <p><a href="mailto:{{.}}">{{.}}</a> &#128386;</p>
    {{/email}}
    {{#phone}}
       <p><a>{{.}}</a> &#128382;</p>
    {{/phone}}
    {{#url}}
        <p><a href="{{.}}">{{formatURL .}}</a>  &#128427;</p>
    {{/url}}
  </div>
 </div>
</section>
