{{#if resume.projects.length}}
  <section id="projects">
    <h3>Projects</h3>
    <div class="stack">
      {{#each resume.projects}}
        <article>
          <header>
            <div class="spaced-list">
              <h4>{{name}}</h4>
              <span>
              {{#if startDate}}<time datetime="{{startDate}}">{{formatDate startDate}}</time> – {{/if}}
              {{#if endDate}}<time datetime="{{endDate}}">{{formatDate endDate}}</time>{{/if}}
              </span>
            </div>
          </header>
          {{#description}}
            {{{markdown .}}}
          {{/description}}
          {{#if highlights.length}}
            <ul>
              {{#highlights}}
                <li>{{.}}</li>
              {{/highlights}}
            </ul>
          {{/if}}
        </article>
      {{/each}}
    </div>
  </section>
{{/if}}
