{{#if resume.work.length}}
  <section id="work">
    <h3>Work</h3>
    <div class="stack">
      {{#each resume.work}}
        <article>
          <header>
            <div class="spaced-list">
              <h4>{{name}}</h4>
              <span>
                {{#if startDate}}<time datetime="{{startDate}}">{{formatDate startDate}}</time> - {{/if}}
                {{#if endDate}}<time datetime="{{endDate}}">{{formatDate endDate}}</time>{{else}}Present{{/if}}
              </span>
            </div>
            <div class="spaced-list">
              {{#position}}
              {{.}}
              {{/position}}
              {{#url}}
                <p>{{.}}</p>
              {{/url}}
            </div>
          </header>
          {{#summary}}
            {{{markdown .}}}
          {{/summary}}
          {{#if highlights.length}}
            <ul>
              {{#highlights}}
                <li>{{.}}</li>
              {{/highlights}}
            </ul>
          {{/if}}
        </article>
      {{/each}}
    </div>
  </section>
{{/if}}
